<a href="https://colab.research.google.com/github/twesaj/hello-world/blob/main/Colab%20notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Twesa's Colab Notebook

TWESA MWAISEMBA
02/28/2021
PYTHON 3
Agricultural land and rain runfall in Kenya

Variables

In [15]:
plot_length=50
print(plot_length)

50

In [4]:
plot_width=20
print(plot_width)

20

Calculations for the runoff

Conversion land footprint to inches

In [16]:
plot_length=50
print(plot_length*12)

600

In [17]:
plot_width=20
print(plot_width*12)

240

Conversion inches of land footprint to cubic inches

In [24]:
rainfall_inches=(600*240*1)
print(rainfall_inches)

144000

Conversion of inches to gallons

In [22]:
rainfall_gallons=(land_area/231)
print(rainfall_gallons)

623.3766233766233

RESULTS

In [18]:
plot_length
print(plot_length)

50

In [19]:
plot_width
print(plot_width)

20

In [25]:
rainfall_inches
print(rainfall_inches)

144000

In [27]:
rainfall_gallons
print(rainfall_gallons)

623.3766233766233