<a href="https://colab.research.google.com/github/twesaj/hello-world/blob/main/Colab%20notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# BELOW IS THE CODE FOR  LAB 1


*   Information about this code
*   created on 02/28/2021
*   Python version 3
*   Agricultural land and rain runoff in Kenya

In [15]:
# Variable 1
plot_length=50
print(plot_length)

50

In [4]:
# Variable 2
plot_width=20
print(plot_width)

20

Calculations for the runoff

In [16]:
# Conversion of lenghth to inches
plot_length=50
print(plot_length*12)

600

In [17]:
# Conversion of width footprint to inches
plot_width=20
print(plot_width*12)

240

In [24]:
# Conversion of land footprint to cubic inches
rainfall_inches=(600*240*1)
print(rainfall_inches)

144000

In [33]:
# Conversion of cubic inches to gallons
rainfall_gallons=(rainfall_inches/231)
print(rainfall_gallons)

623.3766233766233

Here goes the results:

In [31]:
plot_length
print(plot_length)

50

In [32]:
plot_width
print(plot_width)

20

In [25]:
rainfall_inches
print(rainfall_inches)

144000

In [27]:
rainfall_gallons
print(rainfall_gallons)

623.3766233766233